<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mosfet 3D</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/three.min.js"></script>
    <script src="js/OrbitControls.js"></script>
    <script src="js/OrbitAndPanControls.new.js"></script>
    <script src="js/Coordinates.js"></script>
    <script src="js/BeveledBlockGeometry.js"></script>
    <script src="js/TeapotGeometry.js"></script>
    <script src="js/dat.gui.min.js"></script>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="container">
      <canvas id="canvas"></canvas>
    </div>

    <script src="js/mosfet.js"></script>
  </body>
</html>
